<span class="igx-grid-toolbar__title">
    {{ getTitle() }}
</span>

<div class="igx-grid-toolbar__actions">
    <button igxButton="flat" igxRipple igxRippleCentered="true" #btnColumnChooser
            *ngIf="showColumnChooserButton"
            (click)="columnChooserClicked()">
        <igx-icon fontSet="material" name="remove_red_eye"></igx-icon>
        {{ hiddenColumnsCount }} hidden
    </button>

    <div class="igx-grid-toolbar__dropdown">
        <button igxButton="flat" igxRipple igxRippleCentered="true" #btnExport
                *ngIf="shouldShowExportButton"
                (click)="exportClicked()">
            <igx-icon fontSet="material" name="import_export"></igx-icon>
            {{ getExportText() }}
            <igx-icon fontSet="material" name="arrow_drop_down"></igx-icon>
        </button>

        <span igxToggle #directive="toggle" class="igx-filtering__options--to-right">
            <ul class="igx-grid-toolbar__export-options">
                <li class="igx-grid-toolbar__export-options-items" igxRipple *ngIf="shouldShowExportExcelButton"
                (click)="exportToExcelClicked()">{{ getExportExcelText() }}</li>
                <li class="igx-grid-toolbar__export-options-items" igxRipple *ngIf="shouldShowExportCsvButton"
                (click)="exportToCsvClicked()">{{ getExportCsvText() }}</li>
            </ul>
        </span>
    </div>
</div>

<igx-toast #igxGridToolbarToastComp [message]="igxGridToolbarToastMessage"></igx-toast>


