<span class="igx-grid-toolbar__title">
    {{ getTitle() }}
</span>

<div class="igx-grid-toolbar__actions">
    <button igxButton="flat" igxRipple igxRippleCentered="true" #btnColumnChooser
            *ngIf="showColumnChooserButton"
            (click)="columnChooserClicked()">
        <div class="igx-grid-toolbar__button-space">
            <igx-icon fontSet="material" name="remove_red_eye"></igx-icon>
            <span>{{ hiddenColumnsCount }}</span>
            <span>hidden</span>
        </div>

    </button>

    <div class="igx-grid-toolbar__dropdown" *ngIf="shouldShowExportButton">
        <button igxButton="flat" igxRipple igxRippleCentered="true" #btnExport
            (click)="exportClicked()">
            <div class="igx-grid-toolbar__button-space">
                <igx-icon fontSet="material" name="import_export"></igx-icon>
                <span class="igx-grid-toolbar__button-space">{{ getExportText() }}</span>
                <igx-icon fontSet="material" name="arrow_drop_down"></igx-icon>
            </div>
        </button>

        <div igxToggle #directive="toggle" class="igx-filtering__options--to-right">
            <ul class="igx-grid-toolbar__export-options">
                <li class="igx-grid-toolbar__export-options-items" igxRipple *ngIf="shouldShowExportExcelButton"
                (click)="exportToExcelClicked()">{{ getExportExcelText() }}</li>
                <li class="igx-grid-toolbar__export-options-items" igxRipple *ngIf="shouldShowExportCsvButton"
                (click)="exportToCsvClicked()">{{ getExportCsvText() }}</li>
            </ul>
        </div>
    </div>
</div>

<!--<igx-toast #igxGridToolbarToastComp [message]="igxGridToolbarToastMessage"></igx-toast>-->


