<div class="sample-wrapper">
    <page-header title="Grid Toolbar" description="Displays a dedicated caption area which includes functional buttons."></page-header>
    <section class="sample-content">
        <article class="grid-sample">

            <igx-grid #grid1 [data]="data" [autoGenerate]="true" height="400px" width="600px"
            
                [showToolbar]="true"
                toolbarTitle="Grid Toolbar"

                [columnHiding]="true"
                columnHidingText="Hidden"
                columnHidingTitle="Column Hiding"
                
                [toolbarExportExcel]="true"
                [toolbarExportCsv]="true"
                exportText="Export"
                exportExcelText="Export to Excel"
                exportCsvText="Export to CSV"

                (onToolbarExporting)="toolbarExportClicked($event)"
            >
            </igx-grid>

        </article>
    </section>
</div>
